[Unit]
Description=AirConnect Bridge
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/var/lib/airconnect/aircast-linux-x86_64-static -Z
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target